.btnHoverSecondary:hover {
  background-color: var(--v-secondary-base) !important;
}
.btnHover:hover {
  background-color: var(--v-primary-base) !important;
}
.max-flex {
  flex: 1;
}
.inputPrice input {
  text-align: center;
}
.textAsLink {
  color: var(--v-primary-base) !important;
}
.textAsLink:hover {
  color: var(--v-secondary-base) !important;
  cursor: pointer;
}
.v-slide-group__next,
.v-slide-group__prev {
  flex: 0 1 20px !important;
  min-width: 20px !important;
}
